.container {
    width: fit-content;
    margin: 30px auto;
}

.container input {
    width: 400px;
    padding: 10px;
    outline: none;
    border: none;
    border-bottom: 1px solid #4360d7;
    font-size: 18px;
    font-weight: 600;
}

.container #add-todo {
    background-color: #4360d7;
    padding: 10px;
    border: none;
    border-radius: 10px;
    color: #fff;
}

.container button {
    padding: 10px;
    border: none;
    border-radius: 10px;
    font-weight: 600;
}

.spacing-10 {
    height: 10px;
}

